/* General Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    color: #2b3e50;
    margin-bottom: 30px;
    font-size: 36px; /* Adjusted to a larger font size */
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin-top: 50px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

thead {
    background-color: #2b3e50;
    color: white;
}

table th, table td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

table th {
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
}

table tr:nth-child(even) {
    background-color: #f9f9f9;
}

table tr:nth-child(odd) {
    background-color: #ffffff;
}

table td {
    border-bottom: 1px solid #eee;
}

.action-link, .delete-button {
    font-weight: bold;
    color: #2b3e50;
    text-decoration: none;
    margin-right: 10px;
    cursor: pointer;
}

.delete-button {
    border: none;
    background: none;
    font-weight: bold;
}

.action-link:hover, .delete-button:hover {
    text-decoration: underline;
}

.add-book-link {
    text-align: center;
    display: block;
    margin-top: 20px;
    font-size: 18px;
    color: #2b3e50;
    text-decoration: none;
    font-weight: bold;
}

.add-book-link:hover {
    text-decoration: underline;
}

form {
    display: inline;
    margin: 0;
}

.actions {
    text-align: center;
    margin-top: 20px;
}
